
/* images */
#yellow {
    max-height: 170px;
    width: auto;
}
#red {
    max-height: 170px;
    width: auto;
}
#blue {
    max-height: 170px;
    width: auto;
}

#green {
    max-height: 170px;
    width: auto;
}

/* header */
#header {
    background-color: brown;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 10px;
}

/* instructions */
 .instructions {

	max-width: 400px;
    width: 100%;
    background-color: antiquewhite;
    text-align: left;
    line-height: 25px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}

/* score */
#firstnumber {
    background-color:greenyellow;
    height: 100px;
    margin: 20px;
}
#score {
    background-color: aqua;
    height: 100px;
    margin: 20px;
}

.tscore {
    background-color: darkcyan;
    color: white;
    margin:10px;
}

#totalscore {
    background-color: darkcyan;
    color: white;
    height: 100px;
    margin: 10px;
}

img{
    height: 250px;
    width: auto;
   }
   
   button{
       border: none;
       background: none;
   }   